body {
    background-color: rgb(255,215,255);
    padding: 40px;
    font-size: Arial,Helvetica,sans-serif;
    line-height: 1.6rem;
}

.accordian {
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(255, 205, 255);
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 16px;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: #666;
    /* Actually the below code is for making the answer collapse 
    for this to make happen it is needed to make the answer box's height 0 so that it will get collapsed and then finally make the overflow as hidden so that the extra content will be hidden from general content */
    max-height: 0;
    overflow: hidden;
}

.answer.active {
    max-height: fit-content;
}