/* Making the user agent style sheet zero */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Alegreya Sans SC', sans-serif;
    box-sizing: border-box;
}

/* Customizing the Body where we apply Flex,Bgc,Height,Width */

body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Removing the underline from the list items */

li{
    list-style: none;
    cursor: pointer;

}

a{
    text-decoration: none;
}

/* Customizing alll the buttons */

button{
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}

button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Customizing the 1.Header Section */

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    font-weight: 700;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;
}

.search-field{
    display: flex;
    gap: 35px;
}

input{
    padding: 14px 10px;
}

/* Customizing the 2.Main Section  */

.main-section{
    display: flex;
    align-items: center;
}

.main-section-left{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.main-section-left h1 span{
    color: rgb(18, 155, 155);
    font-weight: 900;
    font-size: 2.5 rem;
}

.main-section-left p{
    font-weight: 500;
    
}


.main-section-left p span{
    font-weight: 700;
    font-size: 25px;
    color: rgb(18, 155, 155);
    
}

.main-section-right{
    display: flex;
    flex-direction: column;
    width: 37%;
}

.main-section-right-button{
    display: flex;
    align-items: right;
    gap: 30px;
}

.main-section-right img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

footer{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

footer p{
    font-weight: 600;
}
footer ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

footer ul li a i:hover{
    
}