form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

body {
    background-color: #400f52;
}

h1 {
    text-align: center;
    color: yellowgreen;
    font-size: 4rem;
}

.submit {
    padding: 7px 30px;
    background-color: #2b0202;
    color: white;
    box-shadow: 0 0 5px red;

}

.container {
    background-color: #400f52;
}