div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    /* animation-name: colorchange;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards; */
    animation: colorchange 8s linear 2s infinite reverse;
}
#ease{
    animation-timing-function: ease;
}
#liner{
    animation-timing-function: linear;
}
#ease-out{
    animation-timing-function: ease-out;
}
#ease-in-out{
    animation-timing-function: ease-in-out;
}
@keyframes colorchange{
    /* from {
          background-color:blue;
          top:0px;
          left:0px;
        }
    to {
        background-color: yellow;
        top:0px;
        left:200px;
    } */
    0% {
        background-color:blue;
        top:0px;
        left:0px;
      }
  25% {
      background-color: yellow;
      top:0px;
      left:200px;
  }
  50% {
      background-color: chartreuse;
      top:200px;
      left: 200px;
  }
  75% {
      background-color: cornflowerblue;
      top: 200px;
      right: 0px;
  }
  100% {
      background-color: darkgoldenrod;
      top: 0px;
      left: 0px;
  }
}